# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\某些课程\机器学习\LogisticRegression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
